{% extends 'Squirrel/base.html' %}

{% block main %}
    <div class="container">

	<p class = "text-center">
	<h4> Total Sightings: {{Total_Sightings_Number}}</h4>
	</p>

        <p class = "text-center">
            <h5>Max Latitude: {{ max_Latitude }}</h5>
            <h5>Min Latitude: {{ min_Latitude }}</h5>
        </p>
        <p class = "text-center">
            <h5>Max Longitude: {{ max_Longitude }}</h5>
            <h5>Min Longitude: {{ min_Longitude }}</h5>
        </p>
        <hr />

        <p class = "text-center">
            <h4>Highlight Fur Color</h4>
            <ul>
        {% for Highlight_Fur_Color in list_Highlight_Fur_Color %}
            <li><h5>{{ Highlight_Fur_Color }}</h5></li>
        {% endfor %}
            </ul>
        </p>
        <hr />

        <p class = "text-center">
       	<h3>Location</h3>
            <ul>
        {% for Location in list_Location %}
        <li><h5>{{ Location }}</h5></li>
        {% endfor %}
            </ul>
        </p>
        <hr />

        <p class = "text-center">
            <h4>Max Squirrel Number in a Sight: {{ max_Hectare_Squirrel_Number }}</h4>
            <h4>Min Squirrel Number in a Sight: {{ min_Hectare_Squirrel_Number }}</h4>
            <h4>Avg Squirrel Number in a Sight: {{ avg_Hectare_Squirrel_Number }}</h4>
        </p>
        <hr />
    </div>
{% endblock %}

